@import './fonts';

// bootstrap
@import './../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import './../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import './../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import './../node_modules/bootstrap/scss/images';

// font awsome
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
// ~ = alias pentru node modules

@import 'variables';
@import './shared/index';
@import './reset';
@import './homepage/index';


body {
  font-family: 'Roboto', 'sans-serif';
  color: $gray-primary;
  font-size: 16px;
}

// orice componenta noua se importa aici :D
